@import "tailwindcss";
/* custom css variables */
@theme{

  --color-forest-green: #2E6F40;
  --color-moss-green:  #556B2F;
  --color-wood-brown:  #7B583D;
  --color-warm-cream:  #F3F1EC;
  --color-soft-neutral: #E6E4E0;
  --color-charcoal-text: #2B2B2B;
  --color-warm-beige:  #C8B8A7;

  
  --color-primary: #1c1917; 
  --color-secondary: #44403c; 
  --color-muted: #78716c; 
  --color-accent: #a89078; 
  --color-accent-dark: #8a7560;
  --color-accent-light: #e7e0d8;
  --color-accent-light-10: rgba(168, 144, 120, 0.1);
  --color-cream: #fafaf9; 
  --color-white: #ffffff;
  --color-border-color: #e7e5e4;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
[data-aos] {
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}